.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

* {
    color: #ccccee;
    font-family: 'Press Start 2P', cursive;
}
body {
    background: #111133;
}
#canvas {
    background: #ccccee;
    display: block;
    margin: 40px auto;
}
#scoreboard {
    display: block;
    font-size: 1.5em;
    margin: 40px auto;
}
#scoreboard strong {
    float: left;
}
#score {
    float: right;
}